<mat-grid-list cols="2" rowHeight="1:1">

  <mat-grid-tile>
    <img src="../../assets/logo.png" alt="image">
  </mat-grid-tile>

  <mat-grid-tile>

    <div class="tab-content" style="width: 60%">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form #form="ngForm">

          <div class="form-outline mb-4">
            <label class="form-label" for="first">First name</label>
            <span style="color:red"> *</span>
            <input id="first" class="form-control" ngModel #first="ngModel" required name="first"/>
            <div *ngIf="first.invalid && (first.dirty || first.touched)" class="alert">
              <small *ngIf="first.errors?.['required']" class="text-danger">
                First name is required.
              </small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="last">Last Name</label>
            <span style="color:red"> *</span>
            <input id="last" class="form-control" ngModel #last="ngModel" required name="last"/>
            <div *ngIf="last.invalid && (last.dirty || last.touched)" class="alert">
              <small *ngIf="last.errors?.['required']" class="text-danger">
                Last name is required.
              </small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email</label>
            <span style="color:red"> *</span>
            <input id="email" class="form-control" ngModel email #email="ngModel" required name="email"/>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
              <small *ngIf="email.errors?.['required']" class="text-danger">
                Email is required.
              </small>
              <small *ngIf="email.errors?.['email']" class="text-danger">
                Email is not valid.
              </small>
            </div>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Password</label>
            <span style="color:red"> *</span>
            <input type="password" id="loginPassword" class="form-control" ngModel #password="ngModel"
                   minlength="8" maxlength="20" required name="password"/>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
              <small *ngIf="password.errors?.['required']" class="text-danger">
                Password is required.
              </small>
              <small *ngIf="password.errors?.['minlength']" class="text-danger">
                Password must be at least 8 characters long.
              </small>
              <small *ngIf="password.errors?.['maxlength']" class="text-danger">
                Password must have max 20 characters long.
              </small>
            </div>
          </div>

          <p class="text-danger">{{validationMessage}}</p>

          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mb-4" (click)="register(first.value, last.value,
            email.value, password.value)" [disabled]="!form.form.valid">Register</button>
          </div>

          <div class="text-center">
            <p>Already member? <a [routerLink]="'/login'">Sign in</a></p>
          </div>
        </form>
      </div>
    </div>

  </mat-grid-tile>

</mat-grid-list>

