.back{
  min-height: calc(100vh - 116px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.back-1{
  display: block;
}

.left {
  float: left;
  width: 30%;
  padding: 20px;
  min-height: calc(100vh - 116px);
}

.right {
  float: right;
  width: 70%;
  min-height: calc(100vh - 116px);
  display: flex;
  flex-wrap: wrap;
}

.all {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.a{
  background-color: rgb(222, 226, 230);
  margin-left: 20px;
}

.item {
  width: 20%;
}

.card{
  background-color: rgb(222, 226, 230);
  width: 90%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.padd{
  padding-top: 30px;
}

.imga{
  height: 200px;
}

.example-card {
  display: flex;
  border-bottom: 2px solid;
  padding-bottom: 10px;
  padding-top: 10px;
}

.dica {
  padding-top: 70px;
  padding-left: 20px;
}

.dica1 {

  text-align: center;
}

.example-card1 {
  padding: 10px;
  width: 25%;
  justify-content: center;
  display: grid;

  flex: 1 0 25%; /* Each item takes up 25% of the container width */
  box-sizing: border-box;
}

.imga1{
  height: 200px;
}
