<div class="back">

  <div class="all">
    <form class="item">
      <div class="mb-3 row">
        <mat-form-field class="example-full-width a">
          <input matInput  placeholder="Search" (keyup)="applyFilter($event)">
        </mat-form-field>
      </div>
    </form>

    <button type="button" class="item"  (click)="openBook(-1)">Create New</button>
  </div>

  <div class="back padd">
    <div class="back back-1 left">
      <h2>Trending Books</h2>
      <ng-container *ngFor="let trendingBook of trendingBooks">
        <div class="example-card"  (click)="openBook(trendingBook.id)">
          <img mat-card-image class="imga" [src]="trendingBook.image" alt="Photo of a Shiba Inu">
          <div class="dica">
            <ng-container  *ngFor="let ratingId of showIcon(trendingBook.rate); index as i">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
            </ng-container>
            <div>{{ trendingBook.name }}</div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="right">


      <ng-container *ngFor="let trendingBook of books">
        <div class="example-card1" (click)="openBook(trendingBook.id)">
          <img mat-card-image class="imga1" [src]="trendingBook.image" alt="Photo of a Shiba Inu">
          <div class="dica1">
            <div>{{ trendingBook.name }}</div>
          </div>
        </div>
      </ng-container>


    </div>
  </div>

</div>


