<div class="back">

  <div class="card">
    <div class="card-body">

      <form>
        <div class="mb-3 row">
          <mat-form-field class="example-full-width">
            <input matInput  (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
      </form>

      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="author">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Author </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.author}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.category}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="startDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Start date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.startDate | date}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="endDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header> End date </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.endDate | date}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"
                 [ngClass]="{'red-row': row.endDate < today}">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>
  </div>
</div>


