.redBack{
  background: #fed1d1e3
}

.back{
  background-image: url("/assets/back.png");
  min-height: calc(100vh - 116px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

:host {
  min-height: calc(100vh - 116px);
  display: block;
}

.back{
  background-image: url("/assets/back.png");
  min-height: calc(100vh - 116px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.card{
  background-color: rgb(222, 226, 230);
  width: 90%;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.example-full-width{
  width: 30%;
  background-color: white;
  border-radius: 20px;
  margin: 15px;
  height: 30px;
}

.red-row {
  background-color: #ffcccc; /* or any other red shade you prefer */
}
