<mat-grid-list cols="2" rowHeight="1:1">

  <mat-grid-tile>
    <img src="../../assets/logo.png" alt="image">
  </mat-grid-tile>

  <mat-grid-tile>

    <div class="tab-content" style="width: 60%">
      <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
        <form>

          <div class="form-outline mb-4">
            <label class="form-label" for="email">Email</label>
            <span style="color:red"> *</span>
            <input id="email" class="form-control" #email/>
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" for="loginPassword">Password</label>
            <span style="color:red"> *</span>
            <input type="password" id="loginPassword" class="form-control" #password/>
          </div>

          <p class="text-danger">{{validationMessage}}</p>

          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mb-4" (click)="login(email.value, password.value)">Sign in</button>
          </div>

          <div class="text-center">
            <p>Not a member? <a [routerLink]="'/registration'">Register</a></p>
          </div>
        </form>
      </div>
    </div>

  </mat-grid-tile>

</mat-grid-list>

