<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <img src="/assets/rau.png" alt="image">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" mat-button [routerLink]="'/'"> <h3>Home</h3> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" mat-button [routerLink]="'/users'"> <h3>Users</h3> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" mat-button [routerLink]="'/reports'"> <h3>Reports</h3> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" mat-button [routerLink]="'/books'"> <h3>Book List </h3></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" mat-button [routerLink]="'/borrowed'"><h3> Borrowed Books </h3></a>
        </li>

      </ul>
      <span class="navbar-text">
        <span type="button">Log Out</span>
      </span>
    </div>
  </div>
</nav>
<router-outlet class="router"></router-outlet>

