img {
  height: 100px;
}

.navbar {
  background-color: #DFDFDF;
}

.nav-link {
  color: #2C2568;
}

.navbar-text {
  color: #2C2568;
}

.navbar-nav {
  width: 100%;
}

.nav-item {
  width: 20%;
}

.nav-link{
  width: 100%;
}

:host {
  min-height: 100vh;
  display: block;
}
