<mat-grid-list cols="2" rowHeight="1:1">

  <mat-grid-tile>
    <google-chart
                  [title]="booksByGenreTitle"
                  [type]="columnChart"
                  [data]="booksByGenre"
                  [options]="optionsByGenre"
                  [width]="width"
                  [height]="height">
    </google-chart>
  </mat-grid-tile>

  <mat-grid-tile>
    <google-chart
      [title]="booksByFacultyTitle"
      [type]="pie"
      [data]="booksByFaculty"
      [options]="optionsByFaculty"
      [width]="width"
      [height]="height">
    </google-chart>
  </mat-grid-tile>

</mat-grid-list>
