<div class="back">


  <div class="back padd">
    <div class="back back-1 left">
      <h2>Trending Books</h2>
      <ng-container *ngFor="let trendingBook of trendingBooks">
        <div class="example-card"  (click)="openBook(trendingBook.id)">
          <img mat-card-image class="imga" [src]="trendingBook.image" alt="Photo of a Shiba Inu">
          <div class="dica">
            <ng-container  *ngFor="let ratingId of showIcon(trendingBook.rate); index as i">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
            </ng-container>
            <div>{{ trendingBook.name }}</div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="right">

      <img *ngIf="!isNew" mat-card-image  class="new-img" [src]="book.image" alt="Photo of a Shiba Inu">


      <div  *ngIf="!isNew" class="tab-content" style="width: 60%">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
          <form #form="ngForm">
            <h1>{{book.name}}</h1>
            <h4>By {{book.author}}</h4>
            <ng-container  *ngFor="let ratingId of showIcon(book.rate); index as i">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="star"></mat-icon>
            </ng-container>
            <h4>Category: {{book.category}}</h4>

            <button type="submit" class="btn btn-primary mb-2 button1"  >Borrow</button>
            <button type="submit" class="btn btn-primary mb-2 button1 button1l" (click)="addQR()" >Read Online</button>

            <div *ngIf="isQR">
              <img mat-card-image class="imga" src="/assets/qr.png" alt="QR">
            </div>

          </form>

        </div>
      </div>


      <div  *ngIf="isNew" class="tab-content" style="width: 90%">
        <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
          <form #form="ngForm">
            <div class="form-group">
              <label for="name">Name</label>
              <span style="color:red"> *</span>
              <input #name="ngModel" type="string" class="form-control" id="name" placeholder="Enter Name"
                     required minlength="4" maxlength="50"
                     [(ngModel)]="book.name" name="name">
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                <small *ngIf="name.errors?.['required']" class="text-danger" >
                  Name is required.
                </small>
                <small *ngIf="name.errors?.['minlength']" class="text-danger">
                  Name must be at least 4 characters long.
                </small>
                <small *ngIf="name.errors?.['maxlength']" class="text-danger">
                  Name must have max 50 characters long.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <span style="color:red"> *</span>
              <select class="form-control" id="author" [(ngModel)]="book.author" name="author" #author="ngModel" required>
                <option value="">Choose Author</option>
                <ng-container *ngFor="let author of authors">
                  <option>{{author.name}}</option>
                </ng-container>
              </select>
              <div *ngIf="author.invalid && (author.dirty || author.touched)" class="alert">
                <small *ngIf="author.errors?.['required']" class="text-danger">
                  Author name is required.
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="genre">Genre</label>
              <span style="color:red"> *</span>
              <select class="form-control" id="genre" [(ngModel)]="book.category" name="genre" #genre="ngModel" required>
                <option value="">Choose Genre</option>
                <ng-container *ngFor="let genre of genres">
                  <option>{{genre.name}}</option>
                </ng-container>
              </select>
              <div *ngIf="genre.invalid && (genre.dirty || genre.touched)" class="alert">
                <small *ngIf="genre.errors?.['required']" class="text-danger">
                  Genre is required.
                </small>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2" (click)="addBook()" [disabled]="!form.form.valid">Add/Edit Book</button>
          </form>

        </div>
      </div>


    </div>
  </div>

</div>



