<h1 mat-dialog-title>Result</h1>
<div mat-dialog-content>
  <p *ngIf="result">Borrowed successfully</p>
  <p *ngIf="!result">Failure</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</div>
