<div class="back">

  <div class="card">
    <div class="card-body">

      <form>
        <div class="mb-3 row">
          <mat-form-field class="example-full-width">
            <input matInput  (keyup)="applyFilter($event)">
          </mat-form-field>
        </div>
      </form>

      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> First / Last Name </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="faculty">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Faculty </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.faculty}}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.year}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Account type </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>
  </div>
</div>
