<div class="back">



  <div class="card-link">

    <span  class="item">
      <span class="item1" (click)="next()">New Arrivals</span>
    </span>
    <span class="item">
        <span class="item1" (click)="next()">Bestsellers</span>
    </span>
    <span class="item">
       <span class="item1" (click)="next()">Events</span>
    </span>
  </div>


  <div class="footer">

    <div class="about">
      <h1>
        Contact us
      </h1>
      <h3>
        marianna.aslanyan@rau.am
      </h3>
    </div>

    <div class="about">
      <h1>
        About
      </h1>
      <h3>
        https://rau.am/
      </h3>
    </div>
    <div class="about">
      <img class="image" src="/assets/time.png" alt="image">
    </div>

  </div>

</div>
