.back{
  background-image: url("/assets/back.png");
  min-height: calc(100vh - 116px);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.footer{
  height: 150px;
  display: inline-flex;
  width: 100%;
  background-color: #2C2568;
  position: fixed;
  bottom: 0;
}
.image{
  height: 150px;
}
.card{
  background-color: #2C2568;
  color: white;
  width: 100%;
  display: flex;
}

.card-link {
  padding-bottom: 100px;
  padding-top: 500px;
  width: 100%;
  display: flex;
}

.item {
  width: 33%;
  display: block;
  text-align: center;
}

.about {
  width: 33%;
  display: block;
  text-align: center;
  color: white;
}

.item1{
  background-color: #2C2568;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  margin: auto;
  justify-content: center;
  text-align: center;
  display: inline-flex;
  align-items: center;
}
h1{
  padding: 20px;
}
